@model MenuPage

@{
    var totalpris = 0;
}

<table class="table table-borderless table-css">
    <thead>
        <tr>

            <th scope="col">Maträtt</th>
            <th scope="col">Pris</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Matratteradded)
        {

            totalpris += item.Pris;
            <tr>

                <td>@item.MatrattNamn</td>
                @if (item.Pris != 0)
                {
                    <td>@item.Pris</td>
                    <td class="btn .btn-sm btn-danger">@Html.ActionLink("Ångra", "RemoveItemCustomerBasket", "Home", new { id = item.MatrattId }, null)</td>
                }




            </tr>


        }

    </tbody>
</table>




<br />


@if (totalpris != 0)
{
    <hr />
    <table class="table table-borderless table-css">
        <thead>
            <tr>

                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
           
                <tr>

                    
                        <td>

                            <label>Totalpris: @totalpris Kr</label>
                        </td>
                        <td class="btn .btn-sm btn-success">@Html.ActionLink("Betala", "ViewBloggPost", "Home", Model.Matratteradded, null)</td>
                    




                </tr>


            

        </tbody>
    </table>
  
}



