@{
    ViewData["Title"] = "Var vänlig logga in";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
<link href="~/css/inloggPageStyle.css" rel="stylesheet" type="text/css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
<div class="text-center">
    
    <form class="login" asp-controller="Home" asp-action="UserLogginValidation" method="post">
        <h2>@ViewData["Title"]</h2>
        <input type="text" placeholder="Användarnamn">
        <input type="password" placeholder="Lösenord">
        <input class="button" type="submit" value="Logga in" />
    </form>

</div>
